
  <div class="form-item form-item-photo">
    <label>Title</label>
    <input type="text" name="title" value="<%= photo.title %>">
  </div>
  <div class="form-item form-item-photo">
    <label>Album</label>
    <select name="album">
      <% albums.forEach(album => { %>
        <% if (album.id === photo.album) { %>
          <option selected label="<%= album.name %>" value="<%= album.id %>">
        <% } else { %>
          <option label="<%= album.name %>" value="<%= album.id %>">
        <% } %>
      <% }) %>
    </select>
  </div>


<div>
  <div class="form-item form-item-photo">
    <label>Description</label>
    <textarea name="description"><%= photo.description %></textarea>
  </div>
</div>

<div class="form-row form-row-filepond">
  <div class="form-item form-item-no-grow">
    <label>Photo</label>
    <input type="file" name="cover" class="photo-cover filepond">
  </div>
</div>