<%- include('../partials/head.ejs') %>
<body class="photos">
    <%- include('../partials/header.ejs') %>
    <div class="inner-container">
      <%- include('../partials/errorMessage.ejs') %>
      <%- include('../partials/headerPhotos') %>
      <h2 class="page-header text-center mb-5">Edit Photo</h2>
      <form action="/photos/<%= photo.id %>?_method=PUT" method="POST">
        <%- include('_form_fields') %>
        <div class="form-row btn-new-edit btn-row">
          <button class="btn btn-edit btn-primary" type="submit">Update</button>
          <a class="btn btn-danger" href="/photos">Cancel</a>
        </div>
      </form>
    </div>  

<%- include('../partials/footer.ejs') %>