<%- include('../partials/head.ejs') %>
<body class="articles">
    <%- include('../partials/header.ejs') %>
    <div class="inner-container">
      <%- include('../partials/errorMessage.ejs') %>
      <%- include('../partials/headerArticles') %>
      <h2 class="page-header text-center mb-5">New Story</h2>
      <h5 class="add-message text-center mb-3">*** Don' t forget to add any new topics FIRST ***</h5>
      <form action="/articles" method="POST">
        <%- include('_form_fields') %>
        <div class="form-row btn-article-new-edit btn-row">
          <button class="btn btn-article-new btn-primary" type="submit">Create</button>
          <a class="btn btn-article-new btn-danger" href="/articles">Cancel</a>
        </div>
      </form>
    </div>

<%- include('../partials/footer.ejs') %>

