<%- include('../partials/head.ejs') %>
<body class="photos">
    <%- include('../partials/header.ejs') %>
    <div class="inner-container">
      <%- include('../partials/errorMessage.ejs') %>
      <%- include('../partials/headerPhotos') %>
      <h2 class="page-header text-center mb-5">Album:  <%= album.name %></h2>
      <% if (photosByAlbum.length > 0) { %>
        <%- include('../partials/photoGrid', { photos: photosByAlbum, small: true }) %>
      <% } %>
    </div>

<%- include('../partials/footer.ejs') %>